.beer-instance {
    background-color: white;
    color: #868580;
}

.beer-instance:hover {
    background-color: var(--info-focus);
    color: var(--form-focus);
    cursor: pointer;
    .fav-button {
        color: var(--form-focus);
    }
}

label {
    margin: 0;
    cursor: pointer;
}

.beer-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fav-button {
    color: var(--info-focus);
}
